:root {
  --bs-border-color: #666;
  --bs-secondary-color: #666;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #CCC;
  background-color: #111;
  text-align: center;
}
h1, h2, h3, h4, h5 {
  font-family: 'Bitter', serif;
}
a, .nav-link {
  transition: 600ms;
  text-decoration: none;
}
.rainbow, a:hover, a:active, a:focus {
  background: red;
  background: -webkit-linear-gradient(left, white, cyan, #FFABBA, red, orange, yellow, green, blue, purple, brown, black);
  background: -o-linear-gradient(right, white, cyan, #FFABBA, red, orange, yellow, green, blue, purple, brown, black);
  background: -moz-linear-gradient(right, white, cyan, #FFABBA, red, orange, yellow, green, blue, purple, brown, black);
  background: linear-gradient(43deg, rgba(244,153,166,1) 0%, rgba(238,54,54,1) 20%, rgba(252,181,25,1) 40%, rgba(139,208,205,1) 60%, rgba(8,102,131,1) 80%, rgba(97,53,98,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#arch {
  font-size: 32px;
  margin-bottom: -185px;
}
#arch path {
  fill: transparent;
}
#arch text {
  fill: #333;
  font-family: 'Bitter', serif;
}
.primary-logo {
  max-width: 200px;
  margin: 5em 1em;
  border-radius: 50%;
  border: 2px #ccc solid;
}
.hero-tagline {
  margin: -40px 0 50px 0;
  letter-spacing: 5px;
}
.hero {
  background: rgb(244,153,166);
  background: linear-gradient(43deg, rgba(244,153,166,1) 0%, rgba(238,54,54,1) 20%, rgba(252,181,25,1) 40%, rgba(139,208,205,1) 60%, rgba(8,102,131,1) 80%, rgba(97,53,98,1) 100%);
  height: 330px;
  margin-bottom: 100px;
  border-radius: 0 0 30px 30px;
}
header {
  background: #111;
  box-shadow: #fff 5px -5px 10px;
}
.navbar-brand {
  font-family: 'Bitter', serif;
  span {
    font-style: italic;
  }
}
.navbar-brand, .nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-toggler {
  color: #CCC;
}
.navbar-toggler {
  background-color: #333;
}
.sponsor-logo {
  height: fit-content;
  border-radius:4px;
  /* background: #fff; */
  padding: 15px;
  margin: 15px;
}
.board-photo {
  margin: 10px 0;
  max-height: 200px;
  border-radius: 15px;
}
footer {
  color: var(--bs-secondary-color);
}
.blue-sky {
  height: 20px;
  width: 20px;
  filter: invert(42%) sepia(3%) saturate(952%) hue-rotate(87deg) brightness(109%) contrast(119%);
}
.hero {
  height: 270px;
  margin-bottom: 90px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 768px) {
  .hero {
    height: 330px;
    margin-bottom: 100px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #arch {
    margin-bottom: -290px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #arch {
    margin-bottom: -300px;
  }
  .hero {
    height: 390px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #arch {
    margin-bottom: -350px;
  }
  .hero {
    height: 430px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive::before {
  display: block;
  content: "";
}

.our-team h4 span {
  display: block;
  font-size: .7em;
  letter-spacing: .2em;
}
.table, .table > :not(caption) > * > * {
  background-color: transparent;
  color: #fff;
}
.table > thead > * > * {
  font-size: 1.5em;
}